.rightstuff ul {
	display: flex;
	width: 400px;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.rightstuff ul li {
	font-size: 19px;
	text-transform: capitalize;
	color: hsl(var(--primary));
	cursor: pointer;
}

.rightstuff li a {
	text-decoration: none;
}
